.main-img {
  display: block;
  width: 600px;
  height: 500px;
  margin: auto;
  object-fit: cover;
}
.center-text {
  text-align: center;
  font-family: sans-serif, "Times New Roman", Times, serif;
}
body {
  background-color: rgb(205, 209, 209);
}
p {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 7px;
  text-align: center;
}
@font-face {
  font-family: juicefont;
  src: url(LAMEBRAINS.ttf);
}
.main-font {
  font-family: juicefont;
  font-size: 66px;
  color: rgb(105, 32, 173);
  margin: auto 55px;
}
.second-main {
  font-family: juicefont;
}
ul {
  font-size: 17px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
a {
  color: rgb(0, 0, 0);
}
.icon {
  float: right;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 70%;
}
